{% extends "base.html" %}
{% block content %}
<h1>About eZay's Creators</h1>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default" style="background-color: #11CC46; border-width: 0px">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style=" text-decoration: none; color: white; font-weight: bold;">
          <h2>Mitchell Hewitt</h2>
        </a>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
	<p class="lead">During the early stages of eZay's creation, Mitchell walked into the woods and wasn't heard from 
	for a week. After 7 days and 7 nights of sitting next to a bubbling stream (and ordering a new a bike from
	eBay on his mobile phone), the genius idea that is now eZay came to him.  </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default" style="background-color: #11CC46; border-width: 0px">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style=" text-decoration: none; color: white; font-weight: bold;">
          <h2>Keith Saunders </h2>
        </a>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
	<p class="lead">Keith grew up in a mountain community of web programmer monks. His entire youth was spent training with 1 
	goal in mind, to create the best online shopping experience possible. He joined the eZay team after meeting Mitchell at 
	CS conference.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default" style="background-color: #11CC46; border-width: 0px">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style=" text-decoration: none; color: white; font-weight: bold;">
          <h2>Ahmad Meer</h2>
        </a>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
	<p class="lead">Master hacker Ahmad was a notorious troll that would hack large companies sites just for fun (and a little
	profit). He was then contacted by an anonymous person online who hired him to hack into eZay. After easily completing the job,
	his online client revealed himself to be Peter Bellagh, head of eZay security. Ahmad was then hired on the spot to beef up
	eZay's online security.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default" style="background-color: #11CC46; border-width: 0px">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style=" text-decoration: none; color: white; font-weight: bold;">
          <h2>Peter Bellagh</h2>
        </a>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
	<p class="lead">In his early years, Peter drifted from town to town as a sell-sword. One day he ran into a warrior-programmer
	monk named Keith and challenged him to a battle. After the battle ended in a draw, Keith offered him the job of guarding the
	eZaY super vault. Peter has not left his post since.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default" style="background-color: #11CC46; border-width: 0px">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive" style=" text-decoration: none; color: white; font-weight: bold;">
          <h2 >Austin Abhari</h2>
        </a>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
	<p class="lead">CONTENT</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}



