<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Create a New Item</title>
</head>
<body>
        <form class="form-horizontal" action='' method="POST">
                                <fieldset>
                                    <div id="legend">
                                        <legend class="" style="border-bottom: 1px solid #9BD0F5;">Create a New Item</legend>
                                    </div>
                                    <div class="control-group">
                                        <!-- Username -->
                                        <label class="control-label"  for="name">Item Name</label>
                                        <div class="controls">
                                            <input type="text" id="username" name="type" placeholder="Item Type" class="input-xlarge">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                    <div class="control-group">
                                        <!-- Username -->
                                        <label class="control-label"  for="description">Description</label>
                                        <div class="controls">
                                            <input type="text" id="description" name="type" placeholder="Item description" class="input-xlarge">
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <!-- Username -->
                                        <label class="control-label"  for="price">Price</label>
                                        <div class="controls">
                                            <input type="number" id="price" name="type" placeholder="Item price" class="input-xlarge">
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <!-- Username -->
                                        <label class="control-label"  for="stock">Stock</label>
                                        <div class="controls">
                                            <input type="number" id="stock" name="type" placeholder="Item stock" class="input-xlarge">
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <!-- Button -->
                                        <div class="controls">
                                            <button class="btn btn-success">Create</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
</body>
</html>