{% extends "base.html" %}
{% block content %}
<h1>About Team Zero's Creators</h1>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default" style="background-color: #11CC46; border-width: 0px">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style=" text-decoration: none; color: white; font-weight: bold;">
          <h2>Franklin Berry</h2>
        </a>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
	<p class="lead">-Fill In-</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default" style="background-color: #11CC46; border-width: 0px">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style=" text-decoration: none; color: white; font-weight: bold;">
          <h2>Mitchell Ralston</h2>
        </a>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
	<p class="lead">-Fill In-</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default" style="background-color: #11CC46; border-width: 0px">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style=" text-decoration: none; color: white; font-weight: bold;">
          <h2>Keith Saunders</h2>
        </a>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
	<p class="lead">Keith grew up in a mountain community of web programmer monks.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default" style="background-color: #11CC46; border-width: 0px">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style=" text-decoration: none; color: white; font-weight: bold;">
          <h2>Joshua Sommers</h2>
        </a>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
	<p class="lead">-Fill In-</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}



