{% extends "base.html" %}
{% block nav %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categories<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="">Projects</a></li>
            <li><a href="">Tasks</a></li>
            <li><a href="">Knowledge</a></li>
            <li><a href=""></a></li>
          </ul>
        </li>
{% endblock %}
{% block content %}
      <h1>User's Tasks</h1>
		<div>
			<table class="table">
				{% for item in items %}
				<tr class="success"> <!-- Row 1 -->
					<td align="center"><div style="font-size: 26px; font-style: bold;">{{ item.name }}</div><!-- Column 1 -->
					<div style="font-size: 13px; font-style: bold;">Posted by: {{item.owner}}</div></td>
				</tr>
				<tr class="danger">
					<td align="center">Item Type: {{item.type}}
					</td><!-- Column 1 -->
				</tr>
				<tr class="info"> <!-- Row 2 -->
					<td align="center">{{item.description}}</td><!-- Column 1 -->
				</tr>

				{% endfor %}
				</div>
				</table>
				
		</div>
{% endblock %}